{include file="pc@common/_meta"/}
<title>分析流程图</title>
</head>
<body onLoad="setupZoom();">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> BC150548-1 <span class="c-gray en">&gt;</span>分析流程图<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="main_content">
		<h3 class="article_title" >数据分析流程图</h3>
		<div class="HuiTab">
			<div class="center">
				<img     src="__PUBLIC__/image/data/chart.png" alt="数据分析流程图">
			</div>
		</div>
			<br/>
			<br/>
	</div>
</div>
{include file="pc@common/_footer"}
</body>
</html>