<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>上海伯豪报告系统</title>
  <LINK rel="Shortcut Icon" href="__PUBLIC__/favicon.ico" />
  <meta name="keywords" content="芯片报告，表达谱芯片">
  <meta name="description" content="上海伯豪生物报告系统，对客户的实验完成数据完整的展示出来，简洁、清楚、方便的展示各部分的数据信息的在线报告系统！">
  <link rel="stylesheet" href="__PUBLIC__/css/pc/public.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/pc/login-all-min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/pc/css.css"/>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pc/zoomslider.css" />
  <script type="text/javascript" src="__PUBLIC__/js/modernizr-2.6.2.min.js"></script>
</head>
<body class="login">
  <div class="header">
    <div   class="main">
      <a class="logo"  href="#" ><img style="width:240px;height: 81px;;otline:none;border:none "src="__PUBLIC__/image/pc/header_logo.png" /></a>
      <span class="subMark"><em class="h_icon"></em>技术服务热线：800-820-5086 | 400-880-5086 </span>
    </div>
  </div>
  <div class="bannerbox" id="demo-1" data-zs-src='["__PUBLIC__/image/pc/bg1.jpg", "__PUBLIC__/image/pc/bg2.jpg", "__PUBLIC__/image/pc/bg3.jpg"]' data-zs-overlay="dots">

    <!--<div class="nav">
      <dl>
        <dd class=""></dd>
        <dd class=""></dd>
        <dd class=""></dd>
      </dl>
    </div>
    <ul   >
      <li class="fst-li">
      </li>
      <li class="sec-li">
      </li>
      <li class="third-li">
      </li>
    </ul>-->
      <div class="all-index-banner">
        <div id="login-middle">
          <div class="header-login">

            <div class="pass-login-tab">
              <div class="account-title active"><a href="javascript:;">帐号登录</a></div>
            </div>
            <div class="tang-pass-login" id="netdisk_pass_login_form">
              <div class="pass-form pass-form-normal"  >
                <table>
                  <tbody><tr class="row0">
                    <th></th>
                    <td><i class="rTips rTipsExt">用户名和密码必须输入</i></td>
                  </tr>
                  <tr class="row1">
                    <th class="tTit"><label for="username">帐号</label></th>
                    <td>
                      <input type="text" id="username" autofocus  name="username" value="demo" maxlength="32" class="inp pass-text-input pass-text-input-userName" placeholder="用户名" style="text-align: left">
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                    </td>
                  </tr>
                  <tr class="row3">
                    <th class="tTit"><label for="userpwd">密码</label></th>
                    <td><input type="password" name="password" id="userpwd" value="123" class="inp" maxlength="16" placeholder="请输入密码" style="text-align: left"></td>
                  </tr>
                  <tr class="row4">

                  </tr>
                  <tr class="row5">
                    <th class="tTit"></th>
                    <td> <p id="TANGRAM__PSP_4__submitWrapper" class="pass-form-item pass-form-item-submit">
                      <input id="btn-login" type="button" value="登录" class="pass-button pass-button-submit">
                    </p>
                      <div class="hidden" id="ip" name="ip_info" >
                        <script type="text/javascript" src="http://ip.chinaz.com/getip.aspx" ></script>
                      </div>
                  </tr>

                  </tbody>
                </table>
                <!---->
                <!--<div class="loginbox-textbox">
                  <input class="form-control" placeholder="code" name="code" style="margin:10px 0;width:80px;float:left;" type="text">
                  <img  style="float:left; cursor:pointer;" src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}?'+Math.random();" />
                </div>-->
                <div class="HuiTab" style="margin: 30px 0;padding:0 0 20px;">
                  <p>
                    更多产品信息及相关资料，请关注以下微信号：
                  </p>
                  <p>
				<span style="width: 49%;height:40%;display:inline-block; ">

							<img style="width:40%;    margin:0 20px;" data-action="zoom" src="__PUBLIC__/image/pc/bio.png"  >

				       <span style="text-align: center;width: 100%;display: inline-block">伯豪生物微信号 </span>
				</span>
				<span style="width: 49%;height: 40%;display: inline-block; ">
								<img src="__PUBLIC__/image/pc/chip.png"  data-action="zoom"   style="width:40%; margin: 0 20px;">
					      <span style="text-align: center;width: 100%;display: inline-block">基因芯片知识屋微信号</span>
				</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="login_footer">
    <div class="intro">
      <dl class="intro_copyright  mid">
        <dd>
          <p>
          <div class="copyright_area clearfix">
            <div class="copyright_left">Copyright © 2017 伯豪生物 沪ICP备-14007085</div>

             <div class="copyright_right"> <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502003090" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;/* float: left; */margin-left: 10px;  color: #333;"><img src="http://www.beian.gov.cn/img/ghs.png" style="float:left;">沪公网安备 31011502003090号</a>
             </div>
          <div class="copyright_right">
            <a title="关于伯豪" target="_blank" href="http://www.shbio.com/about.html">关于伯豪</a>
            <span>|</span>
            <a title="服务与产品" target="_blank" href="http://www.shbio.com/product.html">服务与产品</a>
            <span>|</span>
            <a title="联系我们" target="_blank" href="http://www.shbio.com/contact.html">联系我们</a>
          </div>
          </div>

          </p>
        </dd>
      </dl>
    </div>
  </div>

  <script src="__PUBLIC__/js/jquery-1.11.3.js"></script>
  <script src="__PUBLIC__/js/js.js"></script>
   <script type="text/javascript" src="__PUBLIC__/js/jquery.zoomslider.min.js"></script>
  <!--<script type="text/javascript" src="__PUBLIC__/js/jquery.backgroundMove.js"></script>-->
  <script>
    var PATH="__PATH__";
  </script>
  <script src="__PUBLIC__/js/login.js"></script>
</body>
</html>