{include file="common/_meta"}
<title>SAS使用指南</title>
</head>
<body onLoad="setupZoom();">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> {$bh_id} <span class="c-gray en">&gt;</span> SAS使用指南 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="main_content">
		<h3 class="main_title" id="6_1">SAS使用指南</h3>
			<div class="HuiTab">
		  	<p class="lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAS(SBC Analysis System)是上海伯豪公司推出的一款在线的表达谱芯片数据分析软件，旨在为客户提供更快速便捷的数据分析工具，用户在装有IE浏览器的计算机上即可通过客户端进行数据分析。</p>
				<p class="lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;统计运算与数据库查询均在服务器上完成，且运行结果都保存在伯豪公司服务器上，不会占用用户计算机的空间和内存。用户可以随时上网查看自己的数据，也可以将数据下载到自己的计算机上保存。</p>
				<p>
					<span style="width: 50%">
						<a href="__PUBLIC__/image/sas.png" title="SBC Analysis System">
							<img style="width:350px;margin: 0 20px" data-action="zoom" src="__PUBLIC__/image/sas.png"  >
						</a>
					</span>
					<span style="width: 50%">
							<a href="__PUBLIC__/image/sas1.png" title="SBC Analysis System">
								<img src="__PUBLIC__/image/sas1.png"  data-action="zoom"   style="width:350px;margin: 0 20px">
							</a>
					</span>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;♦ 还没有账号？<a  href="__PPATH__/SAS/Ts_12_SAS需求表_4.0.docx">立即填写表单</a></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;♦ 有关SAS系统账号说明：<a   href="__PPATH__/SAS/Ts_10.pdf" target="_blank">下载</a></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;♦ 需求填写表说明：<a target="_blank"   href="__PPATH__/SAS/Ts_11.pdf" target="_blank">下载</a></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;♦ SAS系统简介及教程：<a  target="_blank"  href="__PPATH__/SAS/Ts_13.pdf" target="_blank">下载</a></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;♦  SAS算法原理：<a   target="_blank"  href="__PPATH__/SAS/Ts_14.pdf" target="_blank">下载</a></p>
				</div>
		<!--<h3 class="main_title" id="6_2">参考数据库简介</h3>
		<div class="HuiTab">
			<p class="lable">GO(Gene Ontology) <sup> [1]</sup>：是基因本体论联合会建立的数据库，其目的在于标准化不同数据库中的
				关于基因和基因产物的生物学术语，对基因和蛋白功能进行限定和描述。利用GO 数据库，可以
				将基因按照它们参与的生物学过程、构成细胞的组分、实现的分子功能等进行分类。
				详情请访问：<a target="_blank" href="http://www.geneontology.org">http://www.geneontology.org</a>。</p>
			<br/>
			<p class="lable">KEGG 库(Kyoto encyclopedia of genes and genomes 数据库)<sup> [2]</sup>：京都基因和基因组百科全书是系统分析基因功
				能，联系基因组信息和功能信息的知识库。基因组信息存储在GENES 数据库里，包括完整和部分测序的基因组序
				列；更高级的功能信息存储在PATHWAY 数据库里，包括图解的细胞生化过程如代谢、膜转运、信号传递、细胞周
				期，还包括同系保守的子通路等信息；KEGG 的另一个数据库是LIGAND，包含关于化学物质、酶分子、酶反应等信
				息。详情请访问：<a target="_blank" href="http://www.kegg.jp/kegg/pathway.html">http://www.kegg.jp/kegg/pathway.html</a> 。</p>
		</div>-->
	</div>
</div>
{include file="common/_footer"}
</body>
</html>