{include file="pc@common/_meta"/}
<title>下载所有数据</title>
</head>
<body >
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>BC150548-1<span class="c-gray en">&gt;</span>下载所有数据<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="main_content">
		<h3>常用数据库介绍</h3>
		<p style="margin-top: 20px;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. GO (Gene Ontology)：是基因本体论联合会建立的数据库，其目的在于标准化不同数据库中的关于基因和基因产物的生物学术语，对基因和蛋白功能进行限定和描述。利用GO 数据库，可以将基因按照它们参与的生物学过程、构成细胞的组分、实现的分子功能等进行分类。
		</p>
		<p style="margin-top: 20px;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. KEGG (Kyoto encyclopedia of genes and genomes)：京都基因和基因组百科全书是系统分析基因功能，联系基因组信息和功能信息的知识库。基因组信息存储在GENES 数据库里，包括完整和部分测序的基因组序列；更高级的功能信息存储在PATHWAY 数据库里，包括图解的细胞生化过程如代谢、膜转运、信号传递、细胞周期，还包括同系保守的子通路等信息；KEGG 的另一个数据库是LIGAND，包含关于化学物质、酶分子、酶反应等信息。
		</p>
		<h3>下载链接</h3>
		<div class="HuiTab">
			<table class="table table-border table-bordered table-bg mt-20">
				<tbody>
				<tr class="text-c">
					<th >类型</th>
					<th width="20%" >下载链接</th>
				</tr>
				<tr class="text-c">
					<td>RNA-seq所有数据结果</td>
					<td width="20%"><a  href="__RNASEQ__/BC150548-1/allData.rar"  >下载</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	<br/>
	<br/>
	</div>
</div>

{include file="pc@common/_footer"/}
</body>
</html>